<div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="u1651"><!-- column -->
     <div class="colelem" id="u1654"><!-- simple frame --></div>
     <div class="clearfix colelem" id="pu595"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U595-BP_infinity" template="index.html" data-type="image" -->
      <div class="clip_frame grpelem" id="u595" data-muse-uid="U595" data-muse-type="img_frame"><!-- image -->
        <%= link_to image_tag("logo-interiordelab.png", width: '224', height: '100'), '/', class: 'block', id: 'u595_img' %>
      </div>
      <!-- /m_editable -->
      <div class="museBGSize grpelem" id="u240"><!-- simple frame --></div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1551"><!-- group -->
     <div class="clearfix grpelem" id="pu1551"><!-- column -->
      <div class="rounded-corners colelem" id="u1551"><!-- simple frame --></div>
      <div class="rounded-corners colelem" id="u1554"><!-- simple frame --></div>
      <div class="rounded-corners colelem" id="u1557"><!-- simple frame --></div>
      <div class="rounded-corners colelem" id="u1560"><!-- simple frame --></div>
      <div class="rounded-corners colelem" id="u1563"><!-- simple frame --></div>
     </div>
     <div class="clearfix grpelem" id="pu1577"><!-- column -->
      <div class="museBGSize colelem" id="u1577"><!-- simple frame --></div>
      <img class="colelem" id="u727-22" alt="primer paso Ingresa tus datos , completa los items indicados . segundo paso Adjunta tus documentos, examenes, imagenes y documentos necesarios para nuestro laboratorio. tercer paso Puedes ver tus ordenes online. y saber el estado de tu pedido. cuarto paso Recibiras en tus direcciones el pedido y puedes calificar el servicio en nuestra web. quinto paso Ofertas, casos y toda en informacion en nuestras redes sociales." width="399" height="528" src="/assets/u727-22.png"/><!-- rasterized frame -->
     </div>
     <div class="clip_frame grpelem" id="u1446"><!-- svg -->
      <img class="svg" id="u1444" src="/assets/svg-pegado-64668x657.svg" width="647" height="657" alt="" />
     </div>
     <img class="grpelem" id="u280-4" alt="BIENVENIDOS" width="360" height="65" src="/assets/u280-4.png"/><!-- rasterized frame -->
     <div class="museBGSize grpelem" id="u1467"><!-- simple frame --></div>
     <!-- m_editable region-id="editable-static-tag-U1533-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u1533-4" data-muse-uid="U1533" data-muse-type="txt_frame"><!-- content -->
      <h2 class="subhead" id="u1533-2">INICIAR SESIÓN</h2>
     </div>
     <!-- /m_editable -->
     <img class="grpelem" id="u1536-4" alt="Registrate" width="192" height="50" src="/assets/u1536-4.png"/><!-- rasterized frame -->
     <img class="grpelem" id="u1539-4" alt="SUBE ARCHIVOS" width="183" height="48" src="/assets/u1539-4.png"/><!-- rasterized frame -->
     <img class="grpelem" id="u1542-5" alt="&nbsp;seguimiento" width="154" height="48" src="/assets/u1542-5.png"/><!-- rasterized frame -->
     <img class="grpelem" id="u1545-4" alt="&nbsp;DESPACHO" width="165" height="48" src="/assets/u1545-4.png"/><!-- rasterized frame -->
     <img class="grpelem" id="u1548-4" alt="Siguenos" width="136" height="73" src="/assets/u1548-4.png"/><!-- rasterized frame -->
     <!-- m_editable region-id="editable-static-tag-U1615-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u1615-7" data-muse-uid="U1615" data-muse-type="txt_frame"><!-- content -->
      <h2 class="subhead" id="u1615-3"><span id="u1615">Te invitamos a registrarte en nuestra página, ver nuestros casos e informarte sobre nuestros servicios.</span></h2>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1665-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1665" data-muse-uid="U1665" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("paso1.png"), 'http://app.delab.cl/signup', class: 'block', id: 'u1665_img' %>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1677-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1677" data-muse-uid="U1677" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("paso2.png"), '#', class: 'block', id: 'u1677_img' %>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1687-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1687" data-muse-uid="U1687" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("paso3.png"), '#', class: 'block', id: 'u1687_img' %>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1741-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1741" data-muse-uid="U1741" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("iniciarsession.png"), 'http://app.delab.cl/login', class: 'block', id: 'u1741_img' %>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1751-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1751" data-muse-uid="U1751" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("paso4.png"), '#', class: 'block', id: 'u1751_img' %>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1768-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1768"><!-- image -->
      <%= link_to image_tag("paso5.png"), 'https://www.facebook.com/Delab-600520116776085/', class: 'block', id: 'u1768_img' %>
     </div>
     <!-- /m_editable -->
    </div>
    <!-- m_editable region-id="editable-static-tag-U810-BP_infinity" template="index.html" data-type="image" -->
    <div class="clip_frame colelem" id="u810"><!-- image -->
     <img class="block" id="u810_img" src="/assets/separador.png" alt="" width="182" height="60"/>
    </div>
    <!-- /m_editable -->
    <div class="clearfix colelem" id="pu717"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U717-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u717" data-muse-uid="U717" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u717_img" src="/assets/1ab.jpg" alt="" width="292" height="292" data-muse-src="images/1%20ab.jpg?crc=217291273"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U748-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u748" data-muse-uid="U748" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u748_img" src="/assets/2ba.jpg" alt="" width="292" height="292" data-muse-src="images/2ba.jpg?crc=4207283517"/>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="pu1067"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U1067-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame clearfix grpelem" id="u1067" data-muse-uid="U1067" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("nuestrosservicios.png"), '#', class: 'position_content', id: 'u1067_img' %>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1077-BP_infinity" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1077" data-muse-uid="U1077" data-muse-type="img_frame"><!-- image -->
      <%= link_to image_tag("recomendacionesclinicas.png"), '#', class: 'block', id: 'u1077_img' %>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="pu852-4"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U852-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u852-4" data-muse-uid="U852" data-muse-type="txt_frame"><!-- content -->
      <h2 class="subhead" id="u852-2">Nos especializamos en tecnología CAD CAM y el desarrollo de restauraciones en prótesis fija, sea esta sobre dientes o implantes.</h2>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U859-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u859-4" data-muse-uid="U859" data-muse-type="txt_frame"><!-- content -->
      <h2 class="subhead" id="u859-2">Presentamos diferentes casos clinicos&nbsp; para nuestros usuarios</h2>
     </div>
     <!-- /m_editable -->
    </div>
    <!-- m_editable region-id="editable-static-tag-U782-BP_infinity" template="index.html" data-type="image" -->
    <div class="clip_frame colelem" id="u782" data-muse-uid="U782" data-muse-type="img_frame"><!-- image -->
     <img class="block" id="u782_img" src="/assets/separador.png" alt="" width="182" height="60" data-muse-src="images/separador.png?crc=306268823"/>
    </div>
    <!-- /m_editable -->
    <div class="browser_width colelem" id="u792-bw">
     <div class="museBGSize" id="u792"><!-- column -->
      <div class="clearfix" id="u792_align_to_page">
       <!-- m_editable region-id="editable-static-tag-U826-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="heading clearfix colelem" id="u826-4" data-muse-uid="U826" data-muse-type="txt_frame"><!-- content -->
        <h1>CONTACTO</h1>
       </div>
       <!-- /m_editable -->
       <div class="clearfix colelem" id="pu1412"><!-- group -->
        <div class="grpelem" id="u1412"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="pu1778"><!-- column -->
         <!-- m_editable region-id="editable-static-tag-U1778-BP_infinity" template="index.html" data-type="image" -->
         <div class="clip_frame colelem" id="u1778" data-muse-uid="U1778" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1778_img" src="/assets/messan.png" alt="" width="100" height="62" data-muse-src="images/messan.png?crc=3910098059"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1415-BP_infinity" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix colelem" id="u1415-4" data-muse-uid="U1415" data-muse-type="txt_frame"><!-- content -->
          <h2 class="subhead" id="u1415-2">ventas@delab.cl</h2>
         </div>
         <!-- /m_editable -->
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer" data-offset-top="1988" data-content-above-spacer="1988" data-content-below-spacer="101"></div>
    <div class="browser_width colelem" id="u124-bw">
     <div id="u124"><!-- group -->
      <div class="clearfix" id="u124_align_to_page">
       <div class="grpelem" id="u142"><!-- simple frame --></div>
       <div class="grpelem" id="u144"><!-- simple frame --></div>
       <div class="museBGSize grpelem" id="u629"><!-- simple frame --></div>
      </div>
     </div>
    </div>
   </div>
  </div>